*
{
	margin:0;
	padding:0;
}
header
{
	background-image:url(h7.jpeg);
	max-width:100%;
	height:100vh;
	background-size:cover;
	background-position:center;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;.
    background-color: #3366cc;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.topnav li {float: right;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li:hover a:not(.active) {
    background-color: #D3D3D3;
    color: #000;
}

ul.topnav li a.active {
    background-color: #D2691E;
    color: white;
}



@media screen and (max-width: 600px){
    ul.topnav,
    ul.topnav {position: unset}
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

ul.topnav .dropdown-content {
  display: none;
  position: absolute;
}
ul.topnav .dropdown-content a {
  color: black;
}
ul.topnav .dropdown:hover > .dropdown-content {
  display: block;
}
.main
{
	position:absolute;
	width:1200px;
	
	margin-top:190px;
	
}
h1
{
	color:white;
	text-transform:uppercase;
	font-family: Snell Roundhand, cursive;
	font-size:50px;
	text-align:left;
	margin-left: 20px;
	margin-top: 50px;

}
p
{
	color:#b3ecff;
	
	font-size:20px;
	text-align:justify;
	margin-left: 25px;
	margin-top:5px;
}
h3
{
	color:white;
	font-family: Snell Roundhand, cursive;
	font-size:15px;
	text-align:left;
	margin-left: 440px;
	font-weight: 100;
	margin-top: -5px;
	
}
.script fieldset{
	margin-top: 100px;
	width: 50%;
}


















	